@import url("../fonts/fonts.css");

html {
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
}

@keyframes BackgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
